name: Docs

on:
  push: 
    branches: [ master ]
  pull_request: 
    branches: [ master ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Install SiraDoc
      run: npm install --global @siradoc/siradoc

    - name: Build website
      run: siradoc docs build

    - name: Clone branch gh-pages
      uses: actions/checkout@v6
      with:
        path: 'gh-pages'
        ref: gh-pages

    - name: Move .git to build
      run: mv './gh-pages/.git' './build'

    - name: Push to pages
      continue-on-error: true
      run: |
        cd './build'
        git config user.name github-actions
        git config user.email github-actions@github.com
        git add .
        git commit -m "Update pages"
        git push
