name: Docs

on:
  push: 
    branches: [ master ]
  pull_request: 
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    
    - name: Set up Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install SiraDoc
      run: npm install --global @siradoc/siradoc

    - name: Build website
      run: siradoc docs build

    - name: Clone branch gh-pages
      uses: actions/checkout@v2
      with:
        path: 'gh-pages'
        ref: gh-pages

    - name: Move .git to build
      run: mv './gh-pages/.git' './build'

    - name: Push to pages
      run: |
        cd './build'
        git config user.name github-actions
        git config user.email github-actions@github.com
        git add .
        git commit -m "Update pages"
        git push
